<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link href="css/style.css" rel="stylesheet" type="text/css">
  <title>My First Express App</title>
</head>
<body>
  <figure>
    <img src="<%= ghAvatar %>" class="avatar float-left" />
    <figcaption class="float-left"><%= intro %></figcaption>
  </figure>
  <section>
    <h2>My skills are:</h2>
    <ul>
      <% skills.forEach(function(skill){ %>
        <li> <%= skill %> </li>
      <% }) %>
    </ul>
    <h2>My hobbies are:</h2>
    <ul>
      <% hobbies.forEach(function(hobby){ %>
        <li> <%= hobby %> </li>
      <% }) %>
    </ul>
  </section>
</body>
</html>
